<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>linkmun</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckUser</display-name>
    <servlet-name>CheckUser</servlet-name>
    <servlet-class>com.backstage.servlet.CheckUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUser</servlet-name>
    <url-pattern>/CheckUser.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>240</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.backstage.servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getname</display-name>
    <servlet-name>getname</servlet-name>
    <servlet-class>com.backstage.ajax.getname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getname</servlet-name>
    <url-pattern>/getname.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelectUser</display-name>
    <servlet-name>DelectUser</servlet-name>
    <servlet-class>com.backstage.servlet.DelectUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelectUser</servlet-name>
    <url-pattern>/DelectUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCheckUserName</display-name>
    <servlet-name>RegisterCheckUserName</servlet-name>
    <servlet-class>com.backstage.ajax.RegisterCheckUserName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCheckUserName</servlet-name>
    <url-pattern>/RegisterCheckUserName.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.backstage.servlet.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister.do</url-pattern>
  </servlet-mapping>
</web-app>